{% extends "base.html" %}

{% block content %}


<style>
  .icon-customer {
    font-size: 3rem;
    background: linear-gradient(45deg, #ff4e50, #f9d423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-corporate {
    font-size: 3rem;
    background: linear-gradient(45deg, #1e90ff, #00bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-group {
    font-size: 3rem;
    background: linear-gradient(45deg, #32cd32, #7fff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-transfer {
    font-size: 3rem;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<div class="container-fluid">
  <div class="row">
  </div>

  <div>
    <!-- Chart of Account will come here -->
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="page_title">
          <h2>New Account</h2>
        </div>
      </div>


      
 
      
      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
          <div class="couter_icon col-md-12 text-center">
            <i class="fa fa-user-circle icon-customer"></i>
          </div>
          <a href="{% url 'customers' %}" class="text-center">
            <h5 class="my-2">Customer Account</h5>
          </a>
        </div>
      </div>
      
      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
          <div class="couter_icon col-md-12 text-center">
            <i class="fa fa-building icon-corporate"></i>
          </div>
          <a href="{% url 'company_reg' %}" class="text-center">
            <h5 class="my-2">Corporate Account</h5>
          </a>
        </div>
      </div>
      
      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
          <div class="couter_icon col-md-12 text-center">
            <i class="fa fa-users icon-group"></i>
          </div>
          <a href="{% url 'create_group' %}" class="text-center">
            <h5 class="my-2">Create A Joint Group</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
          <div class="couter_icon col-md-12 text-center">
            <i class="fa fa-users icon-group"></i>
          </div>
          <a href="{% url 'create_group' %}" class="text-center">
            <h5 class="my-2">Create Group</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
          <div class="couter_icon col-md-12 text-center">
            <i class="fa fa-users icon-group"></i>
          </div>
          <a href="{% url 'group_list' %}" class="text-center">
            <h5 class="my-2">Group List</h5>
          </a>
        </div>
      </div>
      
      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
          <div class="couter_icon col-md-12 text-center">
            <i class="fa fa-random icon-transfer"></i>
          </div>
          <a href="{% url 'assign_customers_to_group' %}" class="text-center">
            <h5 class="my-2">Transfer to Group</h5>
          </a>
        </div>
      </div>
      
      

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-suitcase text-success"></i>
          </div>
          <a href="{% url 'choose_create_another_account' %}" class="text-center">
            <h5 class="my-2">Another Account</h5>
          </a>
        </div>
      </div>
      
      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-hand-holding-usd text-warning"></i>
          </div>
          <a href="{% url 'choose_to_create_loan' %}" class="text-center">
            <h5 class="my-2">Loan </h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white">
            <div class="couter_icon col-md-12">
                <!-- Changed icon to "fa-piggy-bank" -->
                <i class="couter_icon fa fa-piggy-bank text-secondary"></i>
            </div>
            <a href="{% url 'register_fixed_deposit_account' %}" class="text-center">
                <h5 class="my-2">Fixed Deposit Account</h5>
            </a>
        </div>
    </div>

      <div class="col-md-3">
        <div class="account_setting py-5 fs-1 bg-white rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-building text-secondary"></i>
          </div>
          <a href="{% url 'internal_accounts' %}" class="text-center">
            <h5 class="my-2">Internal Account</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="account_setting py-5 fs-1 bg-white shadow-lg rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-list text-danger"></i>
          </div>
          <a href="{% url 'customer_list_account' %}" class="text-center">
            <h5 class="my-2">Display All Customers</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="account_setting py-5 fs-1 bg-white shadow-lg rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-list-alt text-info"></i>
          </div>
          <a href="{% url 'internal_list' %}" class="text-center">
            <h5 class="my-2">Display All Internal Accounts</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="account_setting py-5 fs-1 bg-white shadow-lg rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-cogs text-dark"></i>
          </div>
          <a href="{% url 'customer_sms_email_alert' %}" class="text-center">
            <h5 class="my-2">SMS & Email Alert Setting</h5>
          </a>
        </div>
      </div>

    


      <!-- Additional duplicate sections -->

   
   



    <!-- footer -->
    <!-- <div class="container-fluid">
      <div class="footer">
        <p>Copyright &copy; 2023 The CityGate Church. All rights reserved.</p>
      </div>
    </div> -->
  </div>
</div>

{% endblock %}
