{% extends 'base.html' %}

{% load static %}

{% block content %}
            
                    
                       

                
                       
                        {% include 'includes/alerts.html' %}
                        
                        <h6 style="color: red;" >{{ form.errors }}</h6>
                        
                        <!-- dashboard inner -->
            
                        <div class="midde_cont">
                            <div class="container-fluid">
                               <div class="row column_title">
                                  <div class="col-md-12">
                                     <div class="page_title">
                                        <h2>Display Company</h2>
                                     </div>
                                  </div>
                               </div>
             
             
             
                               <!-- table -->
                               <div class="col-md-12">
                                  <div class="white_shd full margin_bottom_30">
             
                                     <div class="table_section padding_infor_info">
                                        <div class="table-responsive-sm">
                                           
                                           <table class="table">
                                              <thead class="thead-dark">
                                                 <tr>
                                             
                                                    <th>Company Name</th>
                                                    <th>Registration Date</th>
                                                    <th>Action</th>
                                                  
                                                    
                                                 </tr>
                                              </thead>
                                              <tbody>
                                                {% for companies in companies %}
                                                   <tr>
                                                      <!-- <td><img style="width: 40px; height: 50px;" class="img-responsive rounded-circle" src="{{ member.image.url }}" 
                                                         onerror="this.src='{% static 'images/avatar.jpg' %}'"  alt="#" /></td> -->
                                                      <td><b> <a href="{% url 'company_detail' companies.id %}" >     {{ companies.company_name }}</a></b></td>
                                                      <td>{{ companies.registration_date }}</td>
                                                      <td><a href="{% url 'update_company' companies.id %}" style="font-weight: bold; color: blue;">Edit</a>/<a href="{% url 'company_delete' companies.id %}" style="font-weight: bold; color: red;">Delete</a></td>
                                                      
                                                    
                                                      
                                                      
                                                     
                                                      
                                                   </tr>
                                                   {% endfor %}
                                            
             
                                              </tbody>
                                           </table>
                                           <a href="{% url 'create_company' %}" style="color: green; font-weight: bold;">Create a New Company</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>

             
                               <!-- footer -->
                             
                            </div>
                            <!-- end dashboard inner -->
                         </div>
                    


                    
     


{% endblock %}