{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Create Company</h2>
            </div>
        </div>
        <!-- form -->
        <form method="POST" class="chart_of_account p-5 shadow-lg rounded rounded-5">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li style="font-size: 30px; color: brown; font-weight: bold;" 
                    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <h6 style="color: red;">{{ form.errors }}</h6>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="company_name">Company Name</label>
                    <input type="text" class="form-control bg-light"
                           id="company_name"
                           name="company_name" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="contact_person">Contact Person</label>
                    <input type="text" class="form-control bg-light"
                           id="contact_person"
                           name="contact_person" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="office_address">Office Address</label>
                    <input type="text" class="form-control bg-light"
                           id="office_address"
                           name="office_address" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="contact_phone_no">Contact Phone No</label>
                    <input type="text" class="form-control bg-light"
                           id="contact_phone_no"
                           name="contact_phone_no" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="contact_email">Contact Email</label>
                    <input type="text" class="form-control bg-light"
                           id="contact_email"
                           name="email" required>
                </div>
                <!-- <div class="form-group col-md-4">
                    <label for="session_date">Branch Session Date</label>
                    <input type="date" class="form-control bg-light"
                           id="session_date"
                           name="session_date">
                </div> -->
                <div class="form-group col-md-4">
                    <label for="system_date_date">System Date</label>
                    <input type="date" class="form-control bg-light"
                           id="system_date_date"
                           name="system_date_date">
                </div>
                <div class="form-group col-md-4">
                    <label for="registration_date">Registration Date</label>
                    <input type="date" class="form-control bg-light"
                           id="registration_date"
                           name="registration_date" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="expiration_date">Expiration Date</label>
                    <input type="date" class="form-control bg-light"
                           id="expiration_date"
                           name="expiration_date" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="license_key">License Key</label>
                    <input type="text" class="form-control bg-light"
                           id="license_key"
                           name="license_key" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="session_status">Session Status</label>
                    <input type="text" class="form-control bg-light"
                           id="session_status"
                           name="session_status">
                </div>
             
            </div>
            <button type="submit" class="btn btn-success mt-4 shadow-sm">Add</button>
            <a href="{% url 'company_list' %}" style="color: green; font-weight: bold;">Back to Company List</a>
        </form>
    </div>
</div>
{% endblock %}
