{% extends 'base.html' %}

{% load static %}

{% block content %}
            
    {% include 'includes/alerts.html' %}
    
    <h6 style="color: red;" >{{ form.errors }}</h6>
    
    <!-- dashboard inner -->
    <div class="container-fluid">
        <!-- Header with Back Button -->
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Account Officers</h2>
                        <a href="{% url 'user_define' %}" class="btn btn-outline-secondary">
                            <i class="fa fa-arrow-left mr-2"></i>Back to Menu
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Main Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="table_section padding_infor_info">
                        <div class="table-responsive-sm">
                            <!-- Create New Button -->
                            <div class="mt-2 mb-3 d-flex justify-content-between align-items-center">
                                <a href="{% url 'create_account_officer' %}" class="btn btn-success">
                                    <i class="fa fa-plus"></i> Create New Account Officer
                                </a>
                            </div>
                            
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Branch Name</th>
                                        <th>User Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for officer in officers %}
                                    <tr>
                                        <td>{{ officer.region }}</td>
                                        <td>{{ officer.user }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'update_account_officer' officer.uuid %}" class="btn btn-sm btn-primary">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <a href="{% url 'account_officer_delete' officer.uuid %}" class="btn btn-sm btn-danger">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                            <div class="mt-4 mb-3 d-flex justify-content-end">
                                <a href="{% url 'user_define' %}" class="btn btn-outline-secondary">
                                    <i class="fa fa-arrow-left mr-2"></i>Back to Menu
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}